body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Set background color as needed */
  }
  
  .centered-title {
    text-align: center;
    margin-top: 100px; /* Adjust the top margin as needed */
  }
  
  h1 {
    font-size: 2.5em;
    color: #333; /* Set text color as needed */
  }
  
  .social-media-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .login-button.google {
    background-color: #4285F4;
    color: #fff;
  }
  
  .login-button.linkedin {
    background-color: #0077B5;
    color: #fff;
  }
  
  .login-button.facebook {
    background-color: #3b5998;
    color: #fff;
  }
  
  .login-button.github {
    background-color: #24292e;
    color: #fff;
  }
  