.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #2d6a4f;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-actions {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensures buttons stretch to fit the container */
    gap: 10px;
    margin-top: 20px;
  }
  
  .modal-submit-button, .modal-cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%; /* Adjusted to match form elements width */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .modal-submit-button {
    background-color: #81b29a;
    color: white;
  }
  
  .modal-cancel-button {
    background-color: #e63946;
    color: white;
  }
  
  .modal-submit-button:hover {
    background-color: #679267;
  }
  
  .modal-cancel-button:hover {
    background-color: #d62828;
  }
  
  @media (max-width: 600px) {
    .modal {
      width: 80%;
      padding: 10px;
    }
  }