  .content-container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    height: 100%;
  }
  
  .column-card{
    background-color: #2d6a4f;
    border-radius: 8px;
    margin: 10px;
    min-width: 350px;
    max-width: 350px;
    box-sizing: border-box;
  }
  
  .task-card{
    background-color: #81b29a;
  }

  .column-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    box-sizing: border-box;
    padding: 7px;
  }

  .column-title-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    width: inherit;
    gap: 5px;
  }
  
  .column-title{
    color: #FFFFFF;
    background: rgba(34, 38, 41, 0.7);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
  }

  .column-error-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 47, 28, 0.3);
    border-radius: 10px;
    border: 2px red solid;
    padding: 5px;
  }

  .column-error {
    width: 100%;
    font-weight: 800;
  }

  .column-error-close:hover {
    color: black;
  }

  .task-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    overflow: auto;
  }

  .column-bottom-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;

  }

  .project-page-menu-bar {
    background-color: #222629;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 4px solid;
    border-color: #24AA7E;
    box-sizing: border-box;
    padding-inline: 2%;
    border-radius: 10px;
    height: 100%;
  }

  .project-page-project-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-page-add-column-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
  }

  .icon {
    cursor: pointer;
  }
