  .content-container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    height: 100%;
  }
  
  .column-card{
    background-color: #2d6a4f;
    border-radius: 8px;
    margin: 10px;
    min-width: 350px;
    max-width: 350px;
    box-sizing: border-box;
  }

  .fade-in-animation {
    animation: fadeInAnimation 0.3s linear;
  }

  .fade-out-animation {
    animation: fadeOutAnimation 0.3s forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .task-card{
    background-color: #81b29a;
  }
  
  .hide-column-success {
    animation: fadeOutAnimation 0.5s forwards;
  }

  .column-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    box-sizing: border-box;
    padding: 7px;
  }

  .column-title-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    width: inherit;
    gap: 5px;
  }
  
  .column-title{
    color: #FFFFFF;
    background: rgba(34, 38, 41, 0.7);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
  }

  .column-error-container, .column-success-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }

  .column-error-container {
    background: rgba(217, 47, 28, 0.3);
    border: 2px red solid;
  }

  .column-success-container {
    background: rgba(44, 181, 167, 0.4);
    border: 2px rgba(8, 33, 30, 0.5) solid;
  }
  
  .column-error, .column-success {
    width: 100%;
    font-weight: 800;
  }

  .column-error-close:hover, .column-success-close:hover {
    color: black;
  }

  .task-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    overflow: auto;
  }

  .column-bottom-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;

  }

  .project-page-menu-bar {
    background-color: #222629;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 4px solid;
    border-color: #24AA7E;
    box-sizing: border-box;
    padding-inline: 2%;
    border-radius: 10px;
    height: 100%;
  }

  .project-page-project-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-page-project-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
  }

  .project-page-add-column-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
  }

  .no-columns-add-column-button {
    box-shadow: 5px 5px 10px 5px rgba(45, 106, 79, 0.8) !important;
  }

  .icon {
    cursor: pointer;
  }

  .alert-delete-project {
    background: rgba(198, 128, 63, .7);
    border-left: 5px solid rgba(229, 90, 60, 0.95);
    border-right: 5px solid rgba(229, 90, 60, 0.95);
  }

  #alert-delete-project-dialog-title {
    border-top: 5px solid rgba(229, 90, 60, 0.95);
  }

  #alert-delete-project-dialog-actions {
    border-bottom: 5px solid rgba(229, 90, 60, 0.95);
  }

  #alert-dialog-confirmation {
    margin-top: 10px;
    border-bottom: 5px solid rgba(229, 90, 60, 0.95);
    border-top: 5px solid rgba(229, 90, 60, 0.95);
    font-weight: 800!important;
  }

  .delete-reorder-column-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .reorder-columns-buttons {
    background: rgba(188, 120, 56, 1)!important;
  }

  .reorder-columns-buttons:hover {
    background: rgba(188, 120, 56, 0.7)!important;
  }
    

  .move-column-icons-container {
    position: relative;
    left: -15px;
    bottom: 50%;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 26px);
  }

  .move-column-left-icon {
    position: sticky;
    left: 0%;
  }

  .move-column-right-icon {
    position: sticky;
    right: 0%;
  }

  .move-column-icons {
    color: rgba(198, 128, 63, .7);
    background: rgba(6, 20, 21, 0.7);
    border-radius: 20px;
  }

  .move-column-icons:hover {
    color: rgba(198, 128, 63, 1);
    background: rgba(6, 20, 21, 1);
  }

  .move-column-pressed {
    width: 100%;
  }
