html {
  height: 100vh;
  width: 100vw;
}

body, #root, .App, .user-homepage-container {
  height: inherit;
  width: inherit;
}

.user-homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b4332;
  gap: 20px;
}

.user-homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #2d6a4f;
  border-radius: 8px;
  color: white;
}

.user-homepage-header img {
  width: 100px;
  height: auto;
  margin-right: 0px;
}

.user-homepage-buttons {
  display: flex;
  gap: 10px;
  padding-inline-end: 1%;
}

.user-homepage-buttons input[type="text"] {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #a5becc;
  color: #333;
}

.user-homepage-buttons input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #81b29a;
}

.user-homepage-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-color: #81b29a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.user-homepage-buttons button:hover {
  background-color: #679267;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.error-message {
  color: #ff6b6b;
  padding-left: 15px;
}

.content-container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex: 1; /* This makes sure your content container can expand */
  overflow: hidden; /* Prevents overflow from messing layout */
}

.team-list {
  flex: 1; /* Allows the team list to grow and fill available space */
  background-color: #2d6a4f;
  padding: 20px;
  border-radius: 8px;
  color: white;
  overflow-y: auto; /* Keeps vertical scrolling */
}

.team-card {
  background-color: #2d6a4f;
  padding: 20px;
  border-radius: 8px;
  color: white;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.team-card.selected .team-details-container {
  display: flex;
}

.team-card .team-details-container {
  display: none;
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}

.team-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-color: #81b29a;
  color: white;
}

.team-button:hover {
  background-color: #679267;
}

.close-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  background-color: #e74c3c;
  color: white;
  font-size: 16px;
  z-index: 2;
}

.close-button:hover {
  background-color: #d63031;
}

.team-card.selected .close-button {
  display: block;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-top: 8px;
}

.team-actions button, .team-button, .delete-button {
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 12px;
  margin: 2px;
  text-transform: uppercase;
}

.team-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-members-list {
  margin-bottom: 10px;
}

.project-list {
  flex: 3;
  background-color: #2d6a4f;
  padding: 20px;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card {
  background-color: #81b29a;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: white;
}

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  margin: 0;
  color: #ffffff;
  font-size: 1.25rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-project-input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  color: #333;
}

.team-header, .project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
}

.add-team-button, .add-project-button, .filter-projects-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #81b29a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-team-button:hover, .add-project-button:hover, .filter-projects-button:hover {
  background-color: #679267;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-team-button:active, .add-project-button:active {
  background-color: #567356;
  transform: translateY(1px);
  box-shadow: none;
}

.delete-button {
  background-color: #e63946;
  color: white;
}

.delete-button:hover {
  background-color: #d62828;
}

.team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #81b29a;
  border-radius: 4px;
  color: white;
}

.remove-member-button {
  padding: 5px 10px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-member-button:hover {
  background-color: #d62828;
}

.team-card-selected {
  background-color: #607D8B; /* blue grey */
}